<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include('Partials/navegacion')%>
    <h1>Caratulas</h1>
    <div>
        <h2>Querer querernos - Cancerbero</h2>
        <img src="https://static.qobuz.com/images/covers/1b/t1/ug2w0ifn5t11b_600.jpg" alt="Querer Querernos" width="300">
    </div>
    <div>
        <h2>Mujer amante - Ratablanca</h2>
        <img src="https://www.nacionrock.com/wp-content/uploads/Rata-Blanca-1.jpg" alt="Mujer amante" width="350px">
    </div>
    <div>
        <h2>Mil horas - Andres Calamaro</h2>
        <img src="https://imgmedia.larepublica.pe/640x374/larepublica/original/2023/08/04/64cd7f366ebc991ca60c8b10.webp" alt="Mil horas">
    </div>
    
</body>
</html>
