<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
    /* Estilo del cuerpo */
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 20px;
        line-height: 1.6;
    }

    /* Estilo del encabezado */
    h1 {
        color: #1f78b4; /* Azul */
        font-size: 28px;
        text-align: center;
        background-color: #f0f8ff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    /* Estilo para los subtítulos */
    h2 {
        color: #b71c1c; /* Rojo oscuro */
        font-size: 22px;
        margin-top: 20px;
    }

    /* Estilo de los contenedores de imágenes */
    div {
        margin-bottom: 20px;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    /* Estilo de las imágenes */
    img {
        margin-top: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
   </style> 
</head>
<body>
    <%- include('Partials/navegacion')%>
    <h1>Caratulas</h1>
    <div>
        <h2>Querer querernos - Cancerbero</h2>
        <img src="https://static.qobuz.com/images/covers/1b/t1/ug2w0ifn5t11b_600.jpg" alt="Querer Querernos" width="300">
    </div>
    <div>
        <h2>Mujer amante - Ratablanca</h2>
        <img src="https://www.nacionrock.com/wp-content/uploads/Rata-Blanca-1.jpg" alt="Mujer amante" width="350px">
    </div>
    <div>
        <h2>Mil horas - Andres Calamaro</h2>
        <img src="https://imgmedia.larepublica.pe/640x374/larepublica/original/2023/08/04/64cd7f366ebc991ca60c8b10.webp" alt="Mil horas" width="350px">
    </div>
    
</body>
</html>
